*{
    margin: 0%;
    padding: 0%;
}
body {

     background-color: black;
     height: 100vh;
     box-sizing: border-box;

}

p{
    color: white;
}
h1{
    color: hotpink;
}
a{
    color: pink;
}
.apresentacao{
        display:flex;
        align-items: center;
        justify-content: center;

}